<p>WELCOME!!</p>
<h1>{{currentUser.firstName.toUpperCase()}} {{currentUser.lastName.toUpperCase()}} !</h1>
<br>
<div *ngIf="currentUser.role == 'admin'">
<h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}} {{user.role}})
            - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
            
        </li>
    </ul>
</div>
<div *ngIf="currentUser.role == 'test'">
    <app-lead></app-lead>
<div>