<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> WSMT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="authService.user.roles[0]=='ROLE_ADMIN'"class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="authService.user.roles[0]=='ROLE_LEAD'"class="nav-item">
        <a class="nav-link" href="lead">Home <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="authService.user.roles[0]=='ROLE_MANAGER'"class="nav-item">
        <a class="nav-link" href="manager">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li *ngIf="authService.user.roles[0]=='ROLE_ADMIN'"><a [routerLink]="['/register']" class="btn btn-outline-primary">Sign Up</a></li>
        <li *ngIf="authService.isAuthenticated()" ><a (click)="logout()" class="btn btn-outline-primary">Sing Out</a>
      </li>
    </ul>
  </div>
</nav>
